.App {
  font-family: "Source Code Pro", monospace;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #dedfdf;
}
::-moz-placeholder {
  color: #dedfdf;
}
:-moz-placeholder {
  color: #dedfdf;
}
::-ms-input-placeholder {
  color: #dedfdf;
}
body {
  background-color: #6ed0f6;
  color: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

form {
  font-size: 24px;
  width: 40vh;
  margin: 0px auto;
}
input[type="radio"] {
  display: none;
}
label {
  padding: 5px 10px;
  margin: 5px 5px;
  float: left;
  opacity: 0.5;
  transition: all 0.4s;
}
input[type="radio"]:checked + label {
  opacity: 1;
  transition: all 0.4s;
}
label[for="reset"] {
  float: right;
}
label:hover {
  opacity: 1;
  transition: all 0.4s;
}

.formulario {
  margin: auto;
  width: 80%;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 1em;
}

.form-control {
  margin: auto;
  background-color: whitesmoke;
  width: 100%;
}

.form-control label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  padding: 0.5em;
}

.inputproduto {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.input-esquerda {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.input-direita {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.form-control input:hover {
  border-color: #3d9cff;
  opacity: 1;
  transition: all 0.4s;
}

.form-control input:focus {
  border-color: #3d9cff;
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}

.form-control input:before {
  content: "";
  position: absolute;
  background: white;
  width: 0.35em;
  height: 0.35em;
  top: 6px;
  left: 6px;
  z-index: 2;
  border-radius: 50%;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.form-control input:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: currentColor;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

button {
  background-color: gainsboro;
  color: black;
  display: block;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0.7em;
  width: 20vh;
  cursor: pointer;
}

.vantagens-geral {
  margin: 0;
  height: 18vh;
}

.vantagem,
.produto,
.percent {
  color: black;
  padding: 0;
  margin: 0;
}

.vantagem {
  font-weight: bold;
  margin-top: 1em;
}

.resposta {
  background-color: aliceblue;
  padding: 0.1em 1em 0.4em;
  height: 50%;
  font-size: 1.3em;
  border-radius: 0.3em;
}

#cotacao {
  background-color: white;
  color: gray;
  padding: 1em;
  font-style: italic;
  font-size: 0.7em;
  margin-top: 10px;
  text-align: center;
  border-radius: 0.3em;
}
.lado-esquerdo {
  float: left;
  width: 50%;
}

.lado-direito {
  float: left;
  width: 50%;
  margin-bottom: 1.5em;
}

.produto-centro {
  display: block;
}

.bandeiras {
  float: right;
  display: flex;
  margin: 0.4em;
  padding: 0;
}

.footer {
  text-align: center;
  display: block;
  color: dimgrey;
  margin-top: 0.5em;
}

/* max-width  */
@media screen and (max-width: 600px) {
  .App {
    font-size: 1dvh;
  }
  .pageTitle {
    font-size: 16px;
  }
  #cotacao {
    font-size: 1em;
  }
  .vantagem,
  .produto,
  .percent {
    font-size: 1em;
  }
  .bandeiras {
    width: 5vh;
  }
  .footer {
    font-size: 0.8em;
  }
  .cabecalho {
    font-size: 2em;
  }
}

/* min-width */
@media screen and (min-width: 900px) {
  .App {
    font-size: 3dvh;
  }
  .pageTitle {
    font-size: 20px;
  }
  #cotacao {
    font-size: 0.6em;
  }
  .vantagem,
  .produto,
  .percent {
    font-size: 0.6em;
  }
  .bandeiras {
    width: 10vh;
  }
  .footer {
    font-size: 0.4em;
  }
  .cabecalho {
    font-size: 1em;
  }
}

.mais-vantajoso {
  color: olivedrab;
  font-weight: bold;
}

.menos-vantajoso {
  color: sienna;
}

.cabecalho {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #fff;

  width: 100%;
  top: 0;

  text-align: center;
  font-weight: bold;
  color: #6ed0f6;
  padding: 0.6em;
  margin-top: 0.6em;
  margin-bottom: 1em;
}
