.App {
  font-family: "Source Code Pro", monospace;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #dedfdf;
}
::-moz-placeholder {
  color: #dedfdf;
}
:-moz-placeholder {
  color: #dedfdf;
}
::-ms-input-placeholder {
  color: #dedfdf;
}
body {
  background-color: #6ed0f6;
  color: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

form {
  font-size: 24px;
  width: 40vh;
  margin: 0px auto;
}

label {
  float: left;
  opacity: 0.5;
  transition: all 0.4s;
}

label[for="reset"] {
  float: right;
}
label:hover {
  opacity: 1;
  transition: all 0.4s;
}

.formulario {
  margin: auto;
  margin-top: 0;
  width: 80%;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 1em;
}

/* formulário principal */
.form-control {
  margin: auto;
  padding: 0.5em;
  background-color: whitesmoke;
  width: 100%;
  display: block;
}

/* box de resposta */
.resposta {
  background-color: aliceblue;
  padding: 0.1em 0.4em 0.4em;
  margin: 0;
  border-radius: 0.3em;
  display: block;
  align-items: center;
}

.form-control label {
  font-size: 0.6em;
  font-weight: 500;
  color: #1a3b5d;
  width: 50%;
  display: inline-block;
  padding: 0.5em;
  margin-top: 0.8em;
}

.inputproduto {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.input-esquerda {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.input-direita {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.form-control input:hover {
  border-color: #3d9cff;
  opacity: 1;
  transition: all 0.4s;
}

.form-control input:focus {
  border-color: #3d9cff;
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}

.form-control input:before {
  content: "";
  position: absolute;
  background: white;
  width: 0.35em;
  height: 0.35em;
  top: 6px;
  left: 6px;
  z-index: 2;
  border-radius: 50%;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.form-control input:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: currentColor;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

button {
  background-color: gainsboro;
  color: black;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0.7em;
  width: 10em;
  margin-top: 1em;
  cursor: pointer;
}

.vantagens-geral {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5.5em, 1fr));
  grid-gap: 2em;
  grid-auto-flow: column;
  margin: 0;
}

.produto {
  color: black;
  padding-left: 0.5em;
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 0.7em;
  display: block;
}

#cotacao {
  background-color: white;
  color: gray;
  padding: 1em;
  font-style: italic;
  font-size: 0.7em;
  margin-top: 10px;
  text-align: center;
  border-radius: 0.3em;
}
.lado-esquerdo {
  float: left;
  width: 50%;
}

.lado-direito {
  float: left;
  width: 50%;
}

.produto-centro {
  margin: 0;
  padding: 0;
}

.footer {
  text-align: center;
  display: block;
  color: dimgrey;
  margin-top: 0.5em;
}

/* max-width  */
@media screen and (max-width: 600px) {
  .App {
    font-size: 1dvh;
  }
  .pageTitle {
    font-size: 16px;
  }
  #cotacao {
    font-size: 1em;
  }
  .footer {
    font-size: 0.8em;
  }
  .cabecalho {
    font-size: 2em;
  }
  button {
    width: 6em;
  }
}

/* min-width */
@media screen and (min-width: 900px) {
  .App {
    font-size: 3dvh;
  }
  .pageTitle {
    font-size: 20px;
  }
  #cotacao {
    font-size: 0.6em;
  }
  .footer {
    font-size: 0.4em;
  }
  .cabecalho {
    font-size: 1em;
  }
}

.mais-vantajoso {
  color: olivedrab;
  font-weight: bold;
}

.menos-vantajoso {
  color: sienna;
}

.cabecalho {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  top: 0;
  text-align: center;
  font-weight: bold;
  color: #6ed0f6;
  padding: 0.6em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.custo-paises {
  color: darkgrey;
  padding: 0.3em;
  width: 7em;
  height: 6.5em;
  border-radius: 0.5em;
  margin: 0.2em;
  margin-top: 0.8em;
  align-items: center;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.custos-brasil {
  width: 20em;
}

.custos-portugal {
  width: 20em;
  margin-left: 10em;
}

.esconder-objeto {
  display: none;
}

.round-flag {
  max-height: 4em;
  margin: auto;
  padding: 0.1em;
  display: block;
}

.flat-flag {
  max-height: 2em;
  margin: auto;
  padding: 0.1em;
  display: block;
}

.percentual-flag {
  margin: auto;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.percentual-flag-texto {
  margin: auto;
  padding-top: 0.72em;
  padding-bottom: 0.72em;
  font-size: 0.6em;
  font-weight: bold;
  display: block;
}

.texto-box {
  font-size: 0.5em;
  margin: auto;
  padding: 0.3em;
  display: block;
}
